<header class="header">
  <nav>
    <ul class="link-list">
      <li>
        <a
          class="header-link"
          href="https://www.spotify.com/es/"
          target="_blank"
          ><img
            class="spotify-round-logo"
            src="./assets/images/logo.png"
            alt="Spotify"
        /></a>
      </li>
      <li>
        <a class="header-link" href=""
          ><img
            class="hamburger-menu"
            src="./assets/images/menu-icon.png"
            alt="Menu"
        /></a>
      </li>
    </ul>
  </nav>
</header>
