<main class="prueba-premium">
  <h1 class="gratis-3-meses">Prueba Premium gratis 3 meses</h1>
  <h2 class="escucha">
    Escucha millones de canciones sin anuncios, a la carta y sin conexión.
  </h2>
  <button class="button"><a
    target="_blank"
    class="ver-planes"
    href="https://www.spotify.com/es/premium/#plans"
    >ver planes</a</button>
  
  >
  <small class="condiciones"
    >Rigen términos y condiciones. Los tres meses gratis no están disponibles
    para usuarios que ya hayan probado Premium.
  </small>
</main>
