.header {
  background-color: black;
  width: 100vw;
  height: 50px;
  position: fixed;
}
.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.spotify-round-logo {
  height: 3rem;
  padding: 10% 10% 10% 10%;
}
.hamburger-menu {
  height: 2.5rem;
  padding: 10% 10% 10% 10%;
}
