<main class="main">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi distinctio
    in maiores tempora porro, asperiores ipsum repellat esse nam, dicta
    deleniti! Facilis commodi repellat ullam architecto! Aspernatur neque
    sapiente officiis.
  </p>
</main>
<section class="section_1">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime obcaecati
  autem deserunt, nobis ea corrupti. Rem alias impedit officiis veritatis enim
  modi molestias, rerum eius quos labore blanditiis reprehenderit est.
</section>
<section class="section_2">
  <h1>title</h1>
  <button class="button" type="button">click me!</button>
</section>
