.body{
    margin: 0px;
    padding: 0px;
    background-color:royalblue;
    height: 100vh;
    display: flex;

}
.button{
    margin: auto;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color:skyblue;
}
.buttonbg{
    background-color:turquoise;
}